@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", system-ui, -apple-system, "Roboto", sans-serif;
  --font-logo:
    "Chiron GoRound TC", system-ui, -apple-system, "Roboto", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: rgb(231 229 228); /* stone-200 */
  margin: 0;
  min-height: 100vh;
}

/* stone color 테마로 사용하기 */
